<ion-header>
  <ion-toolbar>
    <ion-title>Craft Your Letter</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Life Wisdom</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="construction-container">
    <h2>We're Working on It!</h2>
    <p>Sorry for the inconvenience. This section is currently under construction. Please check back later.</p>
  </div>
</ion-content>


  

