// Base styles for the page
ion-header {
  ion-toolbar {
      --background: #872c58; 
      color: #ffffff; 

      ion-title {
          font-size: 1em;
          font-weight: bold;
      }
  }
}



ion-content {
    font-size: 1.1rem; // Increase the base font size
    --ion-background-color: #f7f7f7; // A light background to make the content pop
  }
  
  // The prompt paragraph at the top
  p {
    margin-bottom: 1.5rem; // Add a bit more space after the paragraph for clarity
    color: #333; // Slightly darker text for better readability
  }
  
  // Textarea styling
  ion-textarea {
    --background: #fff; // White background for the textarea
    --border-color: #ccc; // Light border color
    --border-width: 1px; // Define the border width
    --border-style: solid; // Solid border style
    --border-radius: 10px; // Rounded corners
    margin-bottom: 1.5rem; // Space after the textarea
    padding: 1rem; // Inner padding for the textarea
    font-size: 1.1rem; // Ensure the text inside is large enough
  }
  
  // Date Picker and Other Items
  ion-item {
    margin-bottom: 1rem; // Space between items
    --background: #fff; // White background
    --border-radius: 10px; // Rounded corners
    --border-width: 1px;
    --border-style: solid;
    --border-color: #ccc;
    
    // Inner label styling
    ion-label {
      font-size: 1.15rem; // Increase font size for clarity
    }
  }
  
  // Button styles
  ion-button {
    --background: #198acf; // A calm blue background color for primary actions
    --color: #fff; // White text for the button
    font-size: 1.15rem; // Larger font size for clarity
    margin-top: 1.5rem; // Space above the button
    margin-bottom: 1.5rem; // Space below the button
    
    
    // Outline buttons inside items
    &[fill="outline"] {
      --background: transparent; // Clear background
      --border-color: #007aff; // Blue border
      --color: #007aff; // Blue text
    }
  }
  
  // Scheduled letters header
  h2 {
    margin-top: 2rem; // Ample space above the header
    margin-bottom: 1.5rem; // Space below the header
    color: #333; // Darker text for better contrast
  }
  
  .date{
    font-size: 1.1rem; // Increase the base font size
    --ion-background-color: #f7f7f7; // A light background to make the content pop
    align-items: center;
  }